a {
  color: white;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}
a:hover {
  color: #39b54a;
  text-decoration: none;
}

.about-flex-box {
  width: 60px;
}

.AllBody {
  background-color: #282c34;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000000;
}

.Custom-flex {
  display: flex;
  flex-flow: row wrap;
}

.fa-plus {
  color: #39b54a;
}

h1 {
  font-family: "Raleway Bold", Helvetica, Arial, sans;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;
}

h3 {
  font-family: "Raleway Bold", Helvetica, Arial, sans;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.Headings {
  text-align: center;
  font-size: 20px;
}
.heading-text {
  text-align: center;
  color: #39b54a;
  text-decoration: bold;
  padding-bottom: 30px;
}

.MainSection {
  background-color: #f1f1f1;
}

.modal-content {
  max-height: 600px;
}
.modal-footer {
  justify-content: left;
}

.p {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.Section {
  max-width: 960px;
  margin: auto;
  margin-bottom: 70px;
}

.socail-media {
  color: #808080;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 280px;
  top: 0;
  left: 0;
  height: 100vh;
  text-align: center;
  position: fixed;
}

.primary-bg {
  background-color: #801336;
}

/* ---------------------------------------------------
    NEW STYLE
----------------------------------------------------- */

.details_style {
  float: right;
  margin-right: 50px;
}

.name-style {
  font-family: Bebas Neue, cursive, Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 4 rem;
}

.primary-text {
  color: #801336;
}
