a {
  color: white;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
}
a:hover {
  color: #39b54a;
  text-decoration: none;
}

.about-flex-box {
  width: 60px;
}

.AllBody {
  background-color: #282c34;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000000;
}

.Custom-flex {
  display: flex;
  flex-flow: row wrap;
}

.fa-plus {
  color: #39b54a;
}

.heading-text {
  text-align: center;
  color: #39b54a;
  text-decoration: bold;
  padding-bottom: 30px;
}

.MainSection {
  background-color: #f1f1f1;
}

.modal-content {
  max-height: 600px;
}
.modal-footer {
  justify-content: left;
}

.p {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.Section {
  max-width: 960px;
  min-height: 500px;
  margin: auto;
  margin-bottom: 70px;
}

.socail-media {
  color: #808080;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 280px;
  top: 0;
  left: 0;
  height: 100vh;
  text-align: center;
  position: fixed;
}

.primary-bg {
  background-color: #801336;
}

.secondary-bg {
  background-color: #691c35;
}

/* ---------------------------------------------------
    NEW STYLE
----------------------------------------------------- */

.body-style {
  float: right;
  margin-right: 50px;
}

.primary-text {
  color: #801336;
}

.secondary-text {
  color: #49535c;
}

.line {
  border: "1px solid rgb(207, 207, 207)";
}

.super-title {
  font-family: Bebas Neue, cursive, Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 55px;
}

.title {
  font-family: Bebas Neue, cursive, Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  font-weight: 500;
}

.sub-title {
  font-family: Arial, Helvetica Neue, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 25px;
}

.headings {
  font-family: Arial, Helvetica Neue, sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 10px;
}

.para {
  font-size: 16px;
  color: #3d3d3d;
}

.mg-b5 {
  margin-bottom: 50px;
}

.mg-t5 {
  margin-top: 70px;
}

.mg-t7 {
  margin-top: 70px;
}

.icon-bg {
  height: 60px;
  min-width: 60px;
  padding: 18px;
  background-color: #49535c;
  color: #fff;
  border-radius: 100%;
  margin-right: 15px;
}

.image-circle {
  height: 150px;
  min-width: 150px;
  border-radius: 100%;
  border: 5px solid #691c35;
}
